/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}

.container{
    max-width: 1200px;
    margin: 0 auto;
}
body{
    /*background:linear-gradient(#ffffff, #e3e7ff);*/
}
.button{
    background-color: black;
    padding: 14px;
    font-size: 16px;
    border-radius: 10px;
    color: white;
    transition: all 300ms ease;
    border: 4px solid white;
    &:hover{
        border:4px solid rgba(168, 168, 168, 0.8);
    }
}


.input{
    display: block;
    background-color: white;
    border: 4px solid black;
    border-radius: 10px;
    font-size: 20px;
    padding: 10px;
    transition: all 300ms ease;

    &:hover{
        border: 4px solid gray;
    }
}

.title{
    font-size: 24px;
    color: black;
}
