.header{
  height: 60px;
  background-color: rgba(235, 230, 230, 0.27);
  &>.body{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.logo{
  color: black;
  font-size: 26px;
}
.logBtn{
  width: 100%;

}